@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.promo-page-container {
  font-family: 'Montserrat', sans-serif;
  color: black;
  padding: 20px; }

.video-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 950px; }
  .video-container video {
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 670px) {
    .video-container {
      margin-top: 27vh;
      margin-bottom: 45vh; } }

#info__heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-top: 230px;
  margin-bottom: 70px; }
  @media only screen and (max-width: 670px) {
    #info__heading {
      margin-top: 80px;
      margin-bottom: 30px; } }

#grid-container {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  max-width: 800px;
  margin: 20px auto;
  margin-bottom: 250px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  @media only screen and (max-width: 670px) {
    #grid-container {
      margin-bottom: 10px; } }

.step {
  text-align: center;
  margin-bottom: 30px; }
  .step__img {
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    background-color: #fa8072; }
  .step__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .step__description {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    max-width: 220px;
    font-size: 15px;
    margin: 0 auto; }
  .step__link {
    text-decoration: none;
    color: #fa8072; }

@media only screen and (max-width: 670px) {
  #grid-container {
    grid-template-columns: 1fr; } }
